*.py[cod]

*~

.DS_Store

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

#python
*.pyc
*~
*.ipynb_checkpoints/
*.idea/*

## restructured text
*/src/_build
*/src/_static

## latex
*.bak
*.bbl
*.out
*.blg
*.aux
*.log
*.backup
*.bk
*.orig
*.dvi
*.nav
*.snm
*.toc
*.vrb

## R
.Rhistory

## mcmc
*/traces/

## build file
*/_build/*

## serealized files
*.joblib
*.zip
*.npz
*.h5
*checkpoints*

## sphinx specific
*.buildinfo


## large files
ds4e/ds4e_nir.pptx
ds4e/data/movie_reviews/*